@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
	font-family: monospace;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 1);
/*	background-color: whitesmoke;*/
	height: 100%;
}

p {
	text-indent: 40px;
	margin-left: 7px;
	margin-right: 7px;
}

.body {
	font-size: 16px;
	color: white;
	width: 900px;
	min-height: 100vh;
	background-color: rgba(30, 30, 30, 1);
	height: 100%;
}

header {
	height: 140px;
}

h1 {
	margin-top: 50px;
}

h3 {
	text-align: center;
	color: white;
}

.content {
	display:flex;
	width: 100%;
}

nav {
	border: 3px solid rgba(60, 60, 60, 1);
	border-left: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background-color: rgba(60, 60, 60, 1);
	height: 100%;
}

article {
	width: 100%;
	margin-right: 120px;
	margin-left: 40px;
	line-height: 180%;
}

.line {
	box-sizing: border-box;
	height: 2px;
	width: 80px;
	color: white;
	margin: 10px;
	background-color:white;
	border-width: 2px;
	border-style:solid;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

.tab {
	margin-left: 0;
	margin-right: 0;
	text-indent: 0;
	width: 120px;
	border: solid 3px rgba(60, 60, 60, 1);
	background-color: rgba(60, 60, 60, 1);
}

.tab:hover {
	cursor: pointer;
	color: green;
/*	border: 3px solid rgba(90, 90, 90, 1);*/
}

.active:hover {
	cursor: default;
	border: 3px solid rgba(90, 90, 90, 1);
}

.active {
	color: limegreen;
	background-color: rgba(90, 90, 90, 1);
	border: 3px solid rgba(90, 90, 90, 1);
}

.centered {
	text-align: center;
	justify-content: start;
}

.bio {
	margin-bottom: 15px;
	border-radius: 3px;
	border: 3px solid rgba(60, 60, 60, 1);
	background-color: rgba(60, 60, 60, 1);
}

.unselectable {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.grid-container {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
}

.thumb {
	height: 200px;
	width: 200px;
}

.container {
	display: flex;
	justify-items: center;
}

.project {
	margin-bottom: 15px;
	border-radius: 3px;
	border: 3px solid rgba(60, 60, 60, 1);
	background-color: rgba(60, 60, 60, 1);
}

.project p{
	text-indent: 0px;
	text-align: center;
}

.link {
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.click-to-select {
	cursor: pointer;
}